* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
   
}

.container1 {

    height: 92vh;
    background-color:#cad1f8;
    display: flex;
    justify-content: right;
    border: 2px solid #6a7294;
   
}
.baner{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #99a0c5;

}

.input {
    margin-top: 20px;
    display: flex;
    flex-direction:column;
    gap: 10px;
    width: 30%;
   align-items: center;
}

input,
button {

    width: 200px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#btn {
    background-color:#6a7294;
}
#btn:hover{
   background-color: #99a0c5;
   transition-duration: 1s;
}
#opis {
   padding: 10px;;
    font-size: 20px;
}  
.wykres{
    margin-top: 5px;
    background-color:white;
    width: 69.5%;
    height: 90vh;
    display: flex;
    border: 3px solid #6a7294;
    box-shadow: 6px 10px 34px -5px rgba(0,0,0,0.75);
    border-radius: 5px;
}
#chartContainer {
    width: 65vw;
    height: 85vh;
    margin-left: 30px;
}   
 .logo{
    position:absolute;
    bootom: 10px;
   right:10px;

}   

